*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.container{
    background: black;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}
header{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    align-items: center;
    padding: 20px 0;
}
.logo{
    width: 40px;
}
ul li{
    display: inline-block;
}
ul li a{
    color: aliceblue;
    text-decoration: none;
    margin: 0 10px;
    transition: .2s;
    cursor: pointer;

}
ul li a:hover{
    transform: scale(1.1);
    color:lightslategray;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}
.text{
    width: 40%;
    color: aliceblue;
}
.text h2{
    font-size: 40px;
    text-transform: uppercase;
}
.text p{
    font-size: 18px;
    margin: 20px 0;
}
.text a{
    text-decoration: none;
    background: aliceblue;
    color: black;
    padding: 8px 15px;
    border-radius: 20px;
    transition: .5s;
}
.text a:hover{
    background-color: lightslategray;
}
.images{
    width: 30%;
}
.images img{
    width: 180px;
}
.icons{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.icons img{
    width: 40px;
    transition: .5s;
    cursor: pointer;
}
.icons img:hover{
    transform: scale(1.2);
}